<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard">
        <h1>User Dashboard</h1>
        <div class="button-container">
            <a href="{{ url_for('api.user_list') }}"><button>List of all Users</button></a>

            <a href="{{ url_for('api.latest_users') }}"><button>5 New Users</button></a>

            
        </div>
        
    </div>
</body>
</html>
